body {
    background-color: purple;
    display: grid;
}

#outer {
    position: relative;
    top: 30;
    outline: 2px solid #000;
    font-size: 0;
    margin: auto;
    height: 992px;
    width: 992px;
  	padding: 0;
	  border: none;
    
   
}
   
.grid {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
    width: 62px;
    height: 62px;
    box-sizing: border-box;
    
}


button {
  color: pink;
  background-color: black;
  height: 50px;
  width: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-family: cursive;
 
}

#top {
  display: flex;
  justify-content: center;
  
}